{% extends "IntranetEtudiantBundle::layout.html.twig" %}
{%block body %}
	<div class="panel panel-success">
		<div class="panel-heading">
			<i class="fa fa-user fa-3x"></i>
			<div class="text-right col-md-x4">
				<i class=" fa fa-arrow-circle-o-right"></i>
			</div>
		</div>
		<div class="panel-body">
			Espace Etudiant

			
		</div>
	</div>
{%endblock %}

