{% extends "IntranetProfesseurBundle::layout.html.twig" %}
{%block body %}
	<div class="panel panel-success">
		<div class="panel-heading">
			<i class="fa fa-user fa-3x"></i>
			
		</div>
		<div class="panel-body">
			Espace Professeur

			
		</div>
		<div class="panel-footer text-right">
			
				<i class=" fa fa-arrow-circle-o-right"></i>

		</div>
	</div>
{%endblock %}
