@import "compass";
body{

	#notificationBox{
		position: fixed;
		top: 0;left: 0;
		z-index: 2000;
		width: 100%;
		height: 100%;
		overflow: auto;
		.back{
			position: absolute;
			background-color: #000;
			opacity: 0.7;
			width: 100%;height: 100%;
			
		}
		.main-g,.main-p {
			padding-top: 15px;
			i.fa-times{
				float: right;
				margin: -10px 8px;
				opacity: 0.5;
				cursor: pointer;
				&:hover{
					opacity:1;
				}
			}
			.contenu{
				padding: 15px;
			}
		}
		.main-p{
			position: absolute;
			width: 50%;
			background-color: #ffffff;
			height: 20%;
			margin: 13% 25%;
			@include border-radius(5px);
		}
		.main-g{
			position: absolute;
			width: 50%;
			background-color: #ffffff;
			min-height: 80%;
			margin: 5% 25%;
			@include border-radius(5px);
		}
	}
	.image-profil{
		img{
			display: inline-block;
			width: 100%;

		}
	}
	.contenu-profil{
		border-left: 1px solid rgba(0,0,0,0.2);
		.pre-nom{
			font-weight: bolder;
			font-size: 1.5em;

			.nom{
				text-transform: uppercase;
			}
		}
	}

	/*
		Bloc de message

	*/
	.bloc-message{
		.menu{
			padding: 0;
			background-color: #f9f9f9;
			min-height: 400px;
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
				li.ul{
					margin: 4px 0;
					display: inline-block;
					width: 100%;
					text-indent: 10px;
					a{
						color: rgba(0,0,0,0.7);
					}
				}
				li.active{
					
					border-left: 4px solid #d36563;
					a{
						color: #d36563;
						font-weight: bolder;
					}
				}
			}
		}
		.contenu{
			border-left: 0px solid rgba(0,0,0,0.3);
			
			
		}
	}
	
	
	#notification{
		position: fixed;
		top: 4%;left: 15%;
		
		width: 60%;
		@include box-shadow(0 5px 8px rgba(0,0,0,0.2));
		z-index: 10000;
	}
	.image-profil-change{
		form{
			position: absolute;
			
			margin-top: -35px;
			label i{
				cursor: pointer;
				text-align: center;
				display: none;
			}
			input{
				display: none;
			}
		}
		&:hover{
			form label i{
				display: inline-block;
			}
		}
	}
}