{% extends "IntranetAdminBundle::layout.html.twig" %}
{%block title%}Définition de classe |{{etudiant.prenom}} {%endblock%}
{%block body%}
{{etudiant.nom}}
<select>
	<optgroup label="Prémiere année">
		<option>b</option>
		<option>b</option>
	</optgroup>
	<optgroup label="Deuxième année">
		<optgroup label="Informatique">
		
		<option>a</option>
		<option>a</option>
		
		</optgroup>
		<optgroup label="Statistiques">
		
		<option>s</option>
		<option>s</option>
		
	</optgroup>

	</optgroup>
</select>
{%endblock%}