{% extends "IntranetAdminBundle::layout.html.twig" %}

{%block body%}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<div class="jumbotron">
  <h1>Accueil Admin</h1>
  <p>...</p>
  {%if user is defined%}
  <p class="btn btn-primary btn-lg"> {{ user.username }} </p>
  {%endif%}
</div>
{% else %}
   Accueil | not connecté
{% endif %}

<form action=" {{path('intranet_admin_upload')}} " method="post" enctype="multipart/form-data">
  Please choose a file: <input type="file" name="uploadFile"><br>
  <input type="text" placeholder="dossier" name="dossier"><br>
  <input type="submit" value="Upload File">
</form> 
{%if message is defined%}
{{message}}
{%endif%}
{%endblock%}
