{% extends "IntranetAdminBundle::layout.html.twig" %}

{%block body%}

<div class="jumbotron">
  <h1>Les auteurs !</h1>
  <p>...</p>
  <p class="btn btn-primary btn-lg"> {{ app.user.username }} - {{ app.user.password }}</p>
</div>
{%endblock%}
